---
// src/pages/about.astro
import "../styles/global.css"

const pageTitle = "About Me";
---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
</head>
<body>
    <h1 class="text-red-500 text-3xl">{pageTitle}</h1>
    <p>I am learning to build websites with Astro!</p>
    <a href="/">Go back home</a>
</body>
</html>